<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Muffinland unknown request 404
  </title>
</head>

<body>

<hr />

Welcome to Muffinland. Nothing with the name .<%= mlResult[:requested_name]%>.


<hr />
<p>Go ahead and add something new, either by text or uploading a file:  </p>

<form method="post" action="">
  <input type="submit" name="Add" value="Add">
  text <input type="text" name="MuffinContents" value="" >
</form>

<form method="post" action=""
      enctype="multipart/form-data">
  <input type="submit" name="Upload" value="Upload">
  <input type="file" name="file" id="file">
</form>
<hr />



<form method="post" action="">
  <p>Or tag page number
    <input type="submit" name="Tag" value="Tag">
    <input type="number" name="MuffinNumber" min="0" max="20000" value="-1"    >
    to be associated with this page:
    <input type="number" name="CollectorNumber" min="0" max="20000" value="-1"    >
  </p>
</form>







<hr />

The Muffins:
<% mlResult[:dangerously_all_muffins_raw].each_with_index { |value, index | %>
    <p> <a href="<%= index %>">Muffin <%= index %> </a>: <%= value %> </p>
<% } %>


<!--
<hr />
The Posts as they arrived:
<% mlResult[:dangerously_all_posts].each_with_index { |value, index | %>
    <p> request:<%= index %> was <%= value.inspect %> </p>
<% } %>
-->


</body>
</html>

