<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Muffinland unknown request <%= request.path %>
  </title>
</head>

<body>

<hr />

Welcome to Muffinland. Nothing with the name <%= reveal[:requested_name]%>.



<form method="post" action="">
  <p>Add something if you like:
    <input type="text" name="MuffinContents" value="" >
    <input type="submit" name="Go" value="Go"></p>
</form>

The Muffins:
<% reveal[:dangerously_all_muffins].each_with_index { |value, index | %>
    <p> <a href="<%= index %>">Muffin <%= index %> </a> is <%= value %> </p>
<% } %>

The Posts:
<% reveal[:dangerously_all_posts].each_with_index { |value, index | %>
    <p> request:<%= index %> was <%= value %> </p>
<% } %>



</body>
</html>

