<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Muffinland unknown request 404
  </title>
</head>

<body>

<hr />

Welcome to Muffinland. Nothing with the name <%= mlResult[:requested_name]%>.


<hr />




<form method="post" action="">
  <p>Add something if you like:
    <input type="text" name="MuffinContents" value="" >
    <input type="submit" name="Add" value="Add"></p>
</form>


The Muffins:
<% mlResult[:dangerously_all_muffins].each_with_index { |value, index | %>
    <p> <a href="<%= index %>">Muffin <%= index %> </a> is <%= value %> </p>
<% } %>

The Posts:
<% mlResult[:dangerously_all_posts].each_with_index { |value, index | %>
    <p> request:<%= index %> was <%= value %> </p>
<% } %>


</body>
</html>

