<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Muffinland
  </title>
</head>
<body>

<p> Muffin <%= show[:muffin_number] %> is: </p>

<%= show[:muffin_body] %>


<form method="post" action="">
  <p>Go ahead and add another:
    <input type="text" name="MuffinContents" value="" >
    <br />  <input type="submit" name="Go" value="Go">
  </p>
</form>

The Muffins:
<% show[:dangerously_all_muffins].each_with_index { |value, index | %>
    <p> muffin:<%= index %> is <%= value %> </p>
<% } %>

The Posts:
<% show[:dangerously_all_posts].each_with_index { |value, index | %>
    <p> request:<%= index %> was <%= value %> </p>
<% } %>


</body>
</html>

