<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Muffinland page <%= muffin_number %>:
  </title>
</head>
<body>

<p><%= muffin_number %>:</p>
<hr />
<%= muffin_contents %>
<hr />

<form method="post" action="">
  <p>Add another muffin (number <%= next_available_muffin_number %>):</p>
  <p><input type="text" name="InputValue" value="" ></p>
  <p><input type="submit" name="EnterButton" value="Add"></p>
</form>
<hr />


<p> Page requested was "<%= path %>", with parameters <%= params %></p>
<p>Best Wishes, Alistair</p>

</body>
</html>

