<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Muffinland
  </title>
</head>
<body>

<p> Muffin <%= reveal[:muffin_number] %> is: </p>

<%= reveal[:muffin_body] %>


<form method="post" action="">
  <p>Go ahead and add another:
    <input type="text" name="MuffinContents" value="" >
    <br />  <input type="submit" name="Go" value="Go">
  </p>
</form>

<form method="post" action="">
  <p>Or change muffin number
    <input type="number" name="MuffinNumber" min="0" max="20000">
    to contain:
    <input type="text" name="MuffinContents" value="" >
    <br />  <input type="submit" name="Change" value="Change">
  </p>
</form>

The Muffins:
<% reveal[:dangerously_all_muffins].each_with_index { |value, index | %>
    <p> <a href="<%= index %>">Muffin <%= index %> </a> is <%= value %> </p>
<% } %>

The Posts:
<% reveal[:dangerously_all_posts].each_with_index { |value, index | %>
    <p> request:<%= index %> was <%= value %> </p>
<% } %>


</body>
</html>

