<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Muffinland
  </title>
</head>
<body>

<p> Page <%= mlResult[:muffin_id] %> is:
  <br />

    <%= mlResult[:muffin_body] %>

  <br />
    (This is a collection item: <%= mlResult[:muffin_is_collection] %>)
  <br />
  All collection items:
  <% mlResult[:dangerously_all_collection_muffins].each {|id|  %>
      <a href="<%= id %>">Page <%= id %> </a>,
  <% } %>

  <br />
        <% if mlResult[:tags].size > 0 then %>
        Collected in collections <% mlResult[:tags].each {|tag|  %>
            <a href="<%= tag %>">Page <%= tag %> </a>,
      <% } %>
    <% end %>
</p>

<hr />
<p>Go ahead and change this one, either by text or uploading a file:  </p>
<form method="post" action="">
  <input type="number" name="MuffinNumber" min="<%= mlResult[:muffin_id] %>" max="<%= mlResult[:muffin_id] %>" value="<%= mlResult[:muffin_id] %>" >
  <input type="submit" name="Change" value="Change">
  to <input type="text" name="MuffinContents" value="" >
  <br />p.s. Make this a Collection item? <input type="checkbox" name="Collection" value="Collection">
</form>

<form method="post" action=""
      enctype="multipart/form-data">
  <input type="number" name="MuffinNumber" min="<%= mlResult[:muffin_id] %>" max="<%= mlResult[:muffin_id] %>" value="<%= mlResult[:muffin_id] %>" >
  <input type="submit" name="ChangeByFile" value="ChangeByFile">
  from <input type="file" name="file" id="file"><br>
  <br />p.s. Make this a Collection item? <input type="checkbox" name="Collection" value="Collection">
</form>


<hr />

<p>Or add something new, either by text or uploading a file:  </p>

<form method="post" action="">
  <input type="submit" name="Add" value="Add">
  text <input type="text" name="MuffinContents" value="" >
  <br />p.s. Make this a Collection item? <input type="checkbox" name="Collection" value="Collection">
</form>

<form method="post" action=""
      enctype="multipart/form-data">
  <input type="submit" name="Upload" value="Upload">
  <input type="file" name="file" id="file">
  <br />p.s. Make this a Collection item? <input type="checkbox" name="Collection" value="Collection">
</form>
<hr />



<form method="post" action="">
  <p>Or tag page number
    <input type="submit" name="Tag" value="Tag">
    <input type="number" name="MuffinNumber" min="0" max="20000" value="-1"    >
    to be associated with this page:
    <input type="number" name="CollectorNumber" min="0" max="20000" value="-1"    >
  </p>
</form>







<hr />

The Muffins:
<% mlResult[:dangerously_all_muffins_raw].each_with_index { |value, index | %>
    <p> <a href="<%= index %>">Muffin <%= index %> </a>: <%= value %> </p>
<% } %>


<!--
<hr />
The Posts as they arrived:
<% mlResult[:dangerously_all_posts].each_with_index { |value, index | %>
    <p> request:<%= index %> was <%= value.inspect %> </p>
<% } %>
-->


</body>
</html>

