<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Muffinland page
        <%= request_number = @myMuffins[muffin_number]
            request = @myPosts[request_number]
            muffinNumberInRequest = request.env["muffinNumber"]
            muffin_number
        %>:
  </title>
</head>
<body>

<p>-----
  muffin <%= muffin_number %>,
  stored in request <%= request_number %>
  (claiming to be muffin <%= muffinNumberInRequest %>):</p>

<%=
    muffin_contents = request.params["MuffinContents"]
    muffin_contents
%>

<p>----- end of page <%= muffin_number %> -----</p>


<form method="post" action="">
  <p>Go ahead and add page <%= @myMuffins.size %>:
    <input type="text" name="MuffinContents" value="" >
    <br />  <input type="submit" name="Go" value="Go">
  </p>
</form>

<form method="post" action="">
  <p>Or change page
    <input type="number" name="MuffinNumber" value="0" >
    to become
    <input type="text" name="MuffinContents" value="" >
    <br />  <input type="submit" name="Change" value="Change">
  </p>
</form>


<p> Otherwise, choose from one of these pages:</p>

<ul>
  <% @myMuffins.each_with_index {|defReqNum, index|
    defReq = @myPosts[defReqNum]
    who = defReq.ip
    who = "Poor Alistair locked in his dungeon" if defReq.ip == "86.193.109.86"
    who = "Poor Alistair locked in his dungeon" if defReq.ip == "::1"
  %>

  <li> <a href=<%=index%> > Muffin <%=index%> </a>, submitted from <%= who %>
  </li>
  <% }  %>
</ul>

<p> Or, for the hard core, check the actual requests:</p>

<ul>
  <% @myPosts.each_with_index {|defReq, index|
    who = defReq.ip
    who = "Poor Alistair locked in his dungeon" if defReq.ip == "86.193.109.86"
    who = "Poor Alistair locked in his dungeon" if defReq.ip == "::1"
  %>

  <li> Muffin <%= defReq.env["muffinNumber"] %>, from input <%= defReq.params %>
  </li>
  <% }  %>
</ul>


<hr />

<pre>
<p> Tech notes:</p>
<p> Path sent in was "<%= request.path %>" </p>
<p> Params were <%= request.params %></p>
</pre>

<p> You did good. <br />
  Yes, I know that's bad English.
</p>
<img src="http://alistair.cockburn.us/get/1830">






</body>
</html>

