<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Muffinland
  </title>
</head>
<body>

<p> Page <%= mlResult[:muffin_id] %> is:
  <br />

    <%= mlResult[:muffin_body] %>

    <br />
        <% if mlResult[:tags].size > 0 then %>
        tagged to <% mlResult[:tags].each {|tag|  %>
            <a href="<%= tag %>">Page <%= tag %> </a>,
      <% } %>
    <% end %>
</p>


<hr />

<form method="post" action="">
  <p>Go ahead and add another:
    <input type="text" name="MuffinContents" value="" >
    <br />  <input type="submit" name="Add" value="Add">
  </p>
</form>

<form method="post" action="">
  <p>Or change page number
    <input type="number" name="MuffinNumber" min="0" max="20000" value="-1"    >
    to contain:
    <input type="text" name="MuffinContents" value="" >
    <br />  <input type="submit" name="Change" value="Change">
  </p>
</form>

<form method="post" action="">
  <p>Or tag page number
    <input type="number" name="MuffinNumber" min="0" max="20000" value="-1"    >
    to be associated with this page:
    <input type="number" name="CollectorNumber" min="0" max="20000" value="-1"    >
    <br />  <input type="submit" name="Tag" value="Tag">
  </p>
</form>


<form method="post" action=""
      enctype="multipart/form-data">
  <label for="file">Filename:</label>
  <input type="file" name="file" id="file"><br>
  <input type="submit" name="Upload" value="Upload">
</form>






<hr />

The Muffins:
<% mlResult[:dangerously_all_muffins_raw].each_with_index { |value, index | %>
    <p> <a href="<%= index %>">Muffin <%= index %> </a>: <%= value %> </p>
<% } %>

<hr />
The Requests as they arrived:
<% mlResult[:dangerously_all_posts].each_with_index { |value, index | %>
    <p> request:<%= index %> was <%= value %> </p>
<% } %>



</body>
</html>

